@model IPagedList<projectdbfirst.Models.HDNhap>
@using PagedList;
@using PagedList.Mvc;

@*@model IEnumerable<projectdbfirst.Models.HDNhap>*@

@{
    ViewBag.Title = "Index";
}


@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success alert-dismissible">
        @ViewBag.SuccessMessage
        <button type="button" class="close btn-close" data-dismiss="alert" aria-label="Close">
        </button>
    </div>
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible">
        @ViewBag.ErrorMessage
        <button type="button" class="close btn-close" data-dismiss="alert" aria-label="Close">
        </button>
    </div>
}


@if (ViewBag.Print)
{
    <h2 class="text-center">Danh sách hóa đơn nhập</h2>
    @Html.ActionLink("Back", "Index", new { page = 1 }, new { @class = "btn btn-success", style = "margin-left: 8px;" })
    <a class="btn btn-primary" style="margin-left: 8px;" href="#" onclick="window.print(); return false;">Print</a>
    <table class="table">
        <tr>
            <th>
                Mã hóa đơn nhập
            </th>
            <th>
                Ngày nhập
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Tên Nhà cung cấp
            </th>
            <th>
                Tên nhân viên
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHDNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NCC.TenNCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NV.TenNV)
                </td>
            </tr>
        }

    </table>
}
else
{
    <h2>Danh sách hóa đơn nhập</h2>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Print list", "Index", new { page = 1, pSize = 0 }, new { @class = "btn btn-success", style = "margin-left: 8px" })
    <table class="table">
        <tr>
            <th>
                Mã hóa đơn nhập
            </th>
            <th>
                Ngày nhập
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Tên Nhà cung cấp
            </th>
            <th>
                Tên nhân viên
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHDNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NCC.TenNCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NV.TenNV)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaHDNhap }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaHDNhap }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaHDNhap }, new { @class = "btn btn-danger" }) |
                    @Html.ActionLink("CT hóa đơn", "Index", "CTHDNhaps", new { page = 1, id = item.MaHDNhap }, new { @class = "btn btn-dark" })
                </td>
            </tr>
        }

    </table>
}


<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>