
@{
    ViewBag.Title = "BuyProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đơn hàng</h2>

<div class="breadcrumbs_area">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumb_content">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">home</a></li>
                    <li><i class="fa fa-angle-right"></i></li>
                    <li>Thanh toán</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shopping cart area start -->
<div class="shopping_cart_area" style="padding: 35px 0 0 0;">
    <form action="#">
        <div class="row">
            <div class="col-12">
                <div class="table_desc">
                    <div class="cart_page table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product_thumb">Image</th>
                                    <th class="product_name">Product</th>
                                    <th class="product-price">Price (nghìn)</th>
                                    <th class="product-discount">discount</th>
                                    <th class="product_quantity">Quantity</th>
                                    <th class="product_total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Session["Cart"] != null)
                                    {
                                        List<projectdbfirst.Models.CartModel> lstCart = (List<projectdbfirst.Models.CartModel>)Session["Cart"];
                                        for (int i = 0; i < lstCart.Count; i++)
                                        {
                                            <tr>
                                                <td class="product_thumb"><a href="#"><img src="@lstCart[i].ProductDetail.Anh" alt=""></a></td>
                                                <td class="product_name">
                                                    <a href="@Url.Action("Details","Home", new {id = lstCart[i].ProductDetail.MaH })">@lstCart[i].ProductDetail.TenH</a>
                                                </td>
                                                <td class="product-price" id="GiaTien">@lstCart[i].ProductDetail.GiaTien</td>
                                                <td class="product-discount" id="GiaTien" style="color: red;">-@lstCart[i].ProductDetail.GiamGia%</td>
                                                <td class="product_quantity" id="quantity">
                                                    @lstCart[i].Quantity
                                                </td>
                                                <td class="product_total" id="amount">@lstCart[i].Amount</td>


                                            </tr>
                                        }
                                    }


                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--coupon code area start-->
        <div class="coupon_area">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                   
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="coupon_code">
                        <h3>Cart Totals</h3>
                        <div class="coupon_inner">

                            @{
                                double total = 0;
                                if (Session["Cart"] != null)
                                {
                                    List<projectdbfirst.Models.CartModel> lst = (List<projectdbfirst.Models.CartModel>)Session["Cart"];
                                    for (int i = 0; i < lst.Count; i++)
                                    {
                                        total += lst[i].Amount;
                                    }
                                    total = total * 1000;
                                }
                                <div class="cart_subtotal">
                                    <p>Total</p>
                                    <p class="cart_amount">@total</p>
                                </div>
                            }


                            <div class="checkout_btn">
                                <a href="@Url.Action("Onepay","Cart")">Thanh toán</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--coupon code area end-->
    </form>
</div>