@model projectdbfirst.Models.HDBan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HDBan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KH.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KH.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index",  null, new { @calss="btn bnt-primary"})
</p>
