@model IPagedList<projectdbfirst.Models.KHUserViewModel>
@using PagedList;
@using PagedList.Mvc;

@*@model IEnumerable<projectdbfirst.Models.KHUserViewModel>*@

@{
    ViewBag.Title = "Index";
}


@if (ViewBag.Print)
{
    <h2 class="text-center">Danh sách Khách hàng</h2>
    @Html.ActionLink("Back", "Index", new { page = 1 }, new { @class = "btn btn-success", style = "margin-left: 8px;" })
    <a class="btn btn-primary" style="margin-left: 8px;" href="#" onclick="window.print(); return false;">Print</a>
    <table class="table">
        <tr>
            <th>
                Mã khách hàng
            </th>
            <th>
                Tên đầy đủ
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Điện thoại
            </th>
            <th>
                Email
            </th>
            <th>
                UserName
            </th>
            <th>
                PassWord
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KHInfo.MaKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHInfo.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHInfo.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHInfo.DienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHInfo.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserInfo.Username)
                </td>
                <td>
                    ********
                </td>
                @Html.HiddenFor(modelItem => item.KHInfo.KHUserId)
            </tr>
        }

    </table>
}
else
{
    <h2>Danh sách khách hàng</h2>
    @Html.ActionLink("Print list", "Index", new { page = 1, pSize = 0 }, new { @class = "btn btn-success" })
    <table class="table">
        <tr>
            <th>
                Mã khách hàng
            </th>
            <th>
                Tên đầy đủ
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Điện thoại
            </th>
            <th>
                Email
            </th>
            <th>
                UserName
            </th>
            <th>
                PassWord
            </th>
            @*<th>
                    KHUserID
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KHInfo.MaKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHInfo.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHInfo.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHInfo.DienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHInfo.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserInfo.Username)
                </td>
                <td>
                    ********
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.KHInfo.MaKH }, new { @class = "btn btn-primary" })
                </td>
                @Html.HiddenFor(modelItem => item.KHInfo.KHUserId)
            </tr>
        }

    </table>
}
@*<p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary"})
    </p>*@

<div class="pagination-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

